<div
  *ngIf="errorMessage"
  class="alert alert-danger alert-dismissible fade show"
  role="alert"
>
  {{ errorMessage }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Sconti fino al 70%</h1>
    <br>

    <p>
      Iscriviti ad Amazon Prime e guarda film e serie TV di grande successo,
      incluse le serie Amazon Original come The Boys, LOL e The Wilds. Inoltre,
      approfitta di consegne illimitate in 1 giorno su 2 milioni di articoli
      senza costi aggiuntivi e in 2-3 giorni su moltissimi altri.
    </p>
    
    <br>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row"></div>
</div>
<!-- /container -->
